<template>
  <v-dialog v-model="dialog" persistent max-width="300px" justify="center">
    <v-card>
      <v-card-title>
        <span class="headline">Remove Stock</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field
            label="Stock Symbol"
            required
            v-model="stockSymbol"
          ></v-text-field>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="onCloseClicked">Close</v-btn>
        <v-btn color="blue darken-1" text @click="onRemoveClicked"
          >Remove</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts" src="./removeStockModal.ts"></script>

<style lang="scss" src="./renameStockModal.scss"></style>
