<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-row align="center" justify="center" style="height: 200px; ">
          <card
            v-for="(carModel, index) in cardModels"
            :key="index"
            :cardModel="carModel"
            class="ma-3 pa-6"
          >
          </card>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" src="./cardContainer.ts"></script>
<style lang="scss" src="./cardContainer.scss"></style>
