<template>
  <div>
    <v-card class="mx-auto" width="300" :raised="raised">
      <v-card-text>
        <div>
          <p>
            <span>Name : </span>
            <span style="font-weight: bold; color: slateblue "
              >{{ cardModel.stockName }}
            </span>
          </p>
          <p>
            Symbol:
            <span style="font-weight: bold;color:slateblue "
              >{{ cardModel.stockSymbol }}
            </span>
          </p>
        </div>
        <p>
          <span>Current Price :</span>
          <span style="font-weight: bold;color:slateblue"
            >{{ cardModel.stockPrice }}
          </span>
        </p>
        <p>
          <span> Change $ : </span>
          <span style="font-weight: bold;color:slateblue ">{{
            cardModel.stockTodayChangePrice
          }}</span>
          <span style="margin-left: 15px"> % : </span>
          <span style="font-weight: bold;color:slateblue ">
            {{ cardModel.stockTodayChangePercent }}</span
          >
        </p>
        <p>
          <span> Open :</span>
          <span style="font-weight: bold;color:slateblue">{{
            cardModel.stockTodayOpen
          }}</span>
          <span style="margin-left: 15px">High :</span>
          <span style="font-weight: bold;color:slateblue ">{{
            cardModel.stockTodayHigh
          }}</span>
          <span style="margin-left: 15px">Low :</span>
          <span style="font-weight: bold;color:slateblue ">{{
            cardModel.stockTodayLow
          }}</span>
        </p>
      </v-card-text>
      <v-card-actions>
        <v-btn text color=" accent-4">
          More Info
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts" src="./card.ts"></script>

<style lang="scss" src="./card.scss"></style>
