<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item @click="addNewStockClicked">
          <v-list-item-action>
            <v-icon>add_circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Add New Stock</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="removeStockClicked">
          <v-list-item-action>
            <v-icon>remove_circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Remove Stock</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <card-container :cardModels="cardModels"></card-container>
    </v-content>
    <add-stock-modal
      v-if="showAddNewStockModal"
      @modalCancelClicked="modalAddStockCancelClicked"
      @modalSaveClicked="modalAddStockSaveClicked"
    ></add-stock-modal>
    <remove-stock-modal
      v-if="showRemoveStockModal"
      @modalCancelClicked="modalRemoveStockCancelClicked"
      @modalRemoveClicked="modalRemoveStockRemoveClicked"
    >
    </remove-stock-modal>
  </v-app>
</template>

<script lang="ts" src="./App.ts"></script>
